<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baienda.xiaoyan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.XYApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvp.view.activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.view.activity.ChooseCityActivity" />
        <activity android:name=".mvp.view.activity.CategoryInfoActivity" />
        <activity android:name=".mvp.view.activity.MyOrderActivity" />
        <activity android:name=".mvp.view.activity.MyActivityActivity" />
        <activity android:name=".mvp.view.activity.CircleOfFriendActivity" />
        <activity android:name=".mvp.view.activity.NotificationActivity" />
        <activity android:name=".mvp.view.activity.ChatActivity" />
        <activity android:name=".mvp.view.activity.NewFriendActivity" />
        <activity android:name=".mvp.view.activity.AddFriendActivity" />
        <activity android:name=".mvp.view.activity.GroupActivity" />
        <activity android:name=".mvp.view.activity.UserInfoActivity" />
        <activity android:name=".mvp.view.activity.NotificationSettingActivity" />
        <activity android:name=".mvp.view.activity.ChangePasswordActivity" />
        <activity android:name=".mvp.view.activity.MyQrCodeActivity"></activity>
    </application>

</manifest>